.Blog ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.Blog li { 
  display: inline-block;
  margin: 20px;
}

.Blog a {
  text-decoration: none;
  color: black;
}

.Blog a.active,
.Blog a:hover,
.Blog a:active {
  color: #FA923F;
}